<a href="https://colab.research.google.com/github/Chandradithya8/Time_series_analysis/blob/master/Time_series_analysis5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
y=pd.Period('2016') #year
y

Period('2016', 'A-DEC')

In [ ]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [ ]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [ ]:
m=pd.Period('2011-01',freq='m')
m.start_time

Timestamp('2011-01-01 00:00:00')

In [ ]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [ ]:
m+1 #operations on period

Period('2011-02', 'M')

In [ ]:
d=pd.Period('2017-02-20',freq='d')
d

Period('2017-02-20', 'D')

In [ ]:
d.end_time

Timestamp('2017-02-20 23:59:59.999999999')

In [ ]:
d+1

Period('2017-02-21', 'D')

In [ ]:
h=pd.Period('2017-02-20 23:00:00',freq="h")
h

Period('2017-02-20 23:00', 'H')

In [ ]:
h+1

Period('2017-02-21 00:00', 'H')

In [ ]:
h.start_time
h

Period('2017-02-20 23:00', 'H')

In [ ]:
h.end_time
h

Period('2017-02-20 23:00', 'H')

In [ ]:
q=pd.Period('2017Q1') #fiscal time; Q-quater
q

Period('2017Q1', 'Q-DEC')

In [ ]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [ ]:
q=pd.Period('2017Q1',freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [ ]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [ ]:
#  period index
idx=pd.period_range('2011','2017',freq='q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [ ]:
import numpy as np
dp=pd.Series(np.random.randint(1,10,len(idx)),idx)
dp

2011Q1    6
2011Q2    9
2011Q3    4
2011Q4    6
2012Q1    7
2012Q2    4
2012Q3    7
2012Q4    2
2013Q1    2
2013Q2    2
2013Q3    4
2013Q4    8
2014Q1    4
2014Q2    5
2014Q3    1
2014Q4    3
2015Q1    7
2015Q2    5
2015Q3    7
2015Q4    9
2016Q1    4
2016Q2    3
2016Q3    5
2016Q4    8
2017Q1    2
Freq: Q-DEC, dtype: int64

In [ ]:
dp.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [ ]:
dp['2011']

2011Q1    6
2011Q2    9
2011Q3    4
2011Q4    6
Freq: Q-DEC, dtype: int64

In [ ]:
dpp=dp.to_timestamp()
dpp

2011-01-01    6
2011-04-01    9
2011-07-01    4
2011-10-01    6
2012-01-01    7
2012-04-01    4
2012-07-01    7
2012-10-01    2
2013-01-01    2
2013-04-01    2
2013-07-01    4
2013-10-01    8
2014-01-01    4
2014-04-01    5
2014-07-01    1
2014-10-01    3
2015-01-01    7
2015-04-01    5
2015-07-01    7
2015-10-01    9
2016-01-01    4
2016-04-01    3
2016-07-01    5
2016-10-01    8
2017-01-01    2
Freq: QS-OCT, dtype: int64

In [ ]:
dpp.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [ ]:
dpp.to_period()

2011Q1    6
2011Q2    9
2011Q3    4
2011Q4    6
2012Q1    7
2012Q2    4
2012Q3    7
2012Q4    2
2013Q1    2
2013Q2    2
2013Q3    4
2013Q4    8
2014Q1    4
2014Q2    5
2014Q3    1
2014Q4    3
2015Q1    7
2015Q2    5
2015Q3    7
2015Q4    9
2016Q1    4
2016Q2    3
2016Q3    5
2016Q4    8
2017Q1    2
Freq: Q-DEC, dtype: int64

In [ ]:
import pandas as pd
df=pd.read_csv("/content/wmt.csv.txt")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [ ]:
df.set_index('Line Item',inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [ ]:
#Transpose
df.T

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [ ]:
df.index

Index(['Revenue', 'Expenses', 'Profit'], dtype='object', name='Line Item')